{
    "presets": ["@babel/preset-env"],
    "plugins": [
        "@breathlessway/babel-plugin-external-helpers-mini",
        "@babel/plugin-proposal-optional-chaining",
        "@babel/plugin-proposal-nullish-coalescing-operator",
        [
            "module-resolver",
            {
                "alias": {
                    "@": ""
                },
                "loglevel": "silent"
            }
        ]
    ]
}
